<div>
  <h3>Name: {{beer.fields.name}} </h3>
  <p>Brewery: {{beer.fields.name_breweries}}</p>
  <p>ABV: {{beer.fields.abv}}</p>
  <p>Price: {{beer.fields.price}}</p>
  <p>Location: {{beer.fields.country}}</p>
  <p>{{comment}}</p>
</div>
{{!-- <div id="beer-image" class="card-body">
  <img src="{{}}" style="height: 200px; width: 100px; display: block;" alt="image of the beer">
</div> --}}

{{!-- <div>
  {{#each comment}}
    beerId.commentArray
  {{/each}}
</div> --}}