<div class="card card-body mb-3 transparent-background">
  <div class="row">
    <div class="col-md-2">
      <img src="{{beer.fields.image}}" style="height: 200px; width: 100px;" alt="image of the beer">
    </div>
    <div class="col-md-7 text-white">
      <h3 class="card-header mb-3"><a href="/beer/{{beer._id}}">{{beer.fields.name}} </a></h3>
      {{#if beer.fields.name_breweries}}
      <h5 class="card-text mb-3">Brewery: {{beer.fields.name_breweries}}</h5>
      {{/if}}
      {{#if beer.fields.country}}
      <p class="card-text mb-3">Country of origin: {{beer.fields.country}}</p>
      {{/if}}
      {{#if beer.fields.price }}
      <p class="card-text mb-3">Price: {{beer.fields.price}}</p>
      {{/if}}
      <div class="transparent-background text-white">
        <div class="row">
          <h5 class="card-title text-red mx-2">You said:</h5>
          <div class="card card-body transparent-background text-white">
            <p class=" card-header ">{{comment}}</p>
            <p class="card-text">{{date}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>