<div class="card card-body mb-3 transparent-background">
  <h3 class="card-header">{{fields.name}} </h3>
  <h5 class="card-title">Brewery: {{fields.name_breweries}}</h5>
  <img src="{{fields.image}}" style="height: 200px; width: 100px;" alt="image of the beer">
  <ul class="list-group list-group-flush">
    {{#if fields.abv}}
    <li id="abv" class="list-group-item">ABV: {{fields.abv}}</li>
    {{/if}}
    <li class="list-group-item">Country of origin: {{fields.country}}</li>
    {{#if fields.price }}
    <li id="price" class="list-group-item">Price: {{fields.price}}</li>
    {{/if}}
    {{#if fields.ibu }}
    <li id="ibu" class="list-group-item">IBU: {{fields.ibu}}</li>
    {{/if}}
  </ul>
  <div class="card mb-3">
    <form action="/submit-comment" method="POST">
      <input type="text">
      <button type="submit">Comment</button>
    </form>
  </div>

  <div>
    {{#each fields.comments}}
    {{> commentCard}}
    {{/each}}
  </div>
</div>

{{!-- <script>
  document.getElementById("comment-button").onclick = () => {
    let createInput = document.createElement("input");
    document.getElementById("comment-card").appendChild(createInput)
  }
</script> --}}